<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='queries/style.css')}}"/>
    <title>{{title_name}} - Search</title>
</head>
<body>
    <div class="wrapper">
        <section class="header">
            <div class="menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li><a href={{url_for('bp_query.menu_queries')}} class="menu__link">Вернуться в меню запросов</a></li>
                        <li><a href={{url_for('exit_func')}} class="menu__link">Выйти</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="body">
            <form method="post" action="" class="search-form">
                {% if title_name == 'Query1' %}
                <input type="text" name="year" placeholder="{{ph_title1}}" class="search-form__input">
                <input type="text" name="month" placeholder="{{ph_title2}}" class="search-form__input">
                {% elif title_name == 'Query2' %}
                <input type="text" name="product_name" placeholder="{{ph_title1}}" class="search-form__input">
                {% elif title_name == 'Query3' %}
                <input type="text" name="product_name" placeholder="{{ph_title1}}" class="search-form__input">
                {% elif title_name == 'Query4' %}
                <input type="text" name="year" placeholder="{{ph_title1}}" class="search-form__input">
                <input type="text" name="month" placeholder="{{ph_title2}}" class="search-form__input">
                {%endif%}
                <button type="submit" class="search-form__button"><img src='{{ url_for("static", filename="pictures/magnifier2.png") }}' alt="click"></button>
            </form>
        </section>
    </div>
</body>
</html>