{% macro render_item(item, key, show_form=False, show_amount=False) %}
<div style='border-style: solid; border-color: #000000; margin: 5px'>
    <p>
        <span>
            <b>Название продукта:</b> {{ item['Country'] }}
        </span><br>
        <span>
            <b>Зал:</b> {{ item['Place_name'] }}
        </span><br>
        {% if show_amount %}
        <div>

                <input type="hidden" name="prod_id" value="{{ key }}">
                <span>
                    <b>Место:</b> {{ item['seat_number'] }} <br>
                    <b>Ряд:</b> {{ item['seat_line'] }} <br>
                    <b>Цена:</b> {{ item['film_price'] }} <br>
                </span><br>

        </div>
        {% endif %}

    </p>

    {% if show_form %}
    <div align="right">
        <form action="" method="post">
            <input type="hidden" name="tt_id" value="{{ item['idTimetable'] }}">
            <button type="submit" name="action" value="choose_seat">Выбрать место</button>
        </form>
    </div>
    {% endif %}
</div>
{% endmacro %}